{% extends './base.html' %}

{% block title %} Contol prueba IoT {% endblock %}

{% block cuerpo %}

	<section class="contenedorCuerpo">
		<div class="contenedorColumnaIzq">
			<div class="contenedorContenido Izq">
				<div class="contenidoIzq">
					<div class="columnIzq"><h1>IoT Control</h1></div>
				</div>
			</div>
			<div class="contenedorContenido Izq">
				<div class="contenidoIzq">
					<div class="columnIzq">
						<label>Selecione sistema: </label>   
						<select>  
							 <option>Sistema Uno</option>
							 <option>Sistema Dos</option>
							 <option>Sistema Tres</option>
						</select>
					</div>
				</div>
			</div>
			<div class="contenedorContenido Izq">
				<div class="contenidoIzq">
					<div class="columnIzq"><button class="boton" id='buttonConnect' type='button' onclick="MQTTconnect();"><h4 id="conectar">Conectar a EMQX</h4></button></div>
				</div>
			</div>
			<div class="contenedorContenido Izq">
				<div class="contenidoIzq">
					<div class="columnIzq"><p>Contenido Fila 4 Col 1</p></div>
				</div>
			</div>
		</div>
		<div class="contenedorColumnaDer">
			<div class="contenedorContenido">
				<div class="contenido">
					<div class="column">
						<h2 id="estado">LED 1</h2>
					<!-- //  
					//  if(estado==0){
					//    espClient.println("<h2>El led esta ENCENDIDO</h2>");
					//    client.publish(topic, "El led esta ENCENDIDO");
					//  }else{
					//    espClient.println("<h2>El led esta APAGADO</h2>");
					//    client.publish(topic, "El led esta APAGADO");
					//  } -->
						<svg width="80" height="60" viewbox="0 0 640 480">
						 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
						 <defs>
						  <linearGradient y2="0" x2="1" y1="0" x1="0" id="svg_6">
						   <stop offset="0" stop-color="#bfbfbf"/>
						   <stop offset="1" stop-color="#404040"/>
						  </linearGradient>
						  <linearGradient spreadMethod="pad" y2="1" x2="1" y1="0" x1="0" id="svg_11">
						   <stop id="Led1" offset="0" stop-opacity="0.992188" stop-color="#000000"/>
						   <stop id="Luz1" offset="1" stop-opacity="0.988281" stop-color="#820101"/>
						  </linearGradient>
						  <linearGradient spreadMethod="pad" y2="1" x2="1" y1="0" x1="0" id="svg_14">
						   <stop offset="0" stop-opacity="0.996094" stop-color="#ffffff"/>
						   <stop offset="0.703125" stop-opacity="0.984375" stop-color="#d30606"/>
						  </linearGradient>
						 </defs>
						 <g>
						  <title>Led 1</title>
						  <circle transform="rotate(90 320 240)" fill-opacity="0.77" id="svg_3" r="196.125" cy="240" cx="320" stroke-linecap="round" stroke-width="17.5" fill="url(#svg_6)"/>
						  <circle id="svg_7" r="160" cy="239.999045" cx="319.252837" fill-opacity="0.64" stroke-linecap="round" stroke-width="17.5" fill="url(#svg_6)"/>
						  <circle id="svg_8" r="150" cy="240.001698" cx="320.000535" stroke-linecap="round" stroke-width="17.5" fill="url(#svg_11)"/>
						  <ellipse transform="rotate(-47.7626 249.18 168.124)" id="svg_20" ry="44.402987" rx="75.675959" cy="168.124194" cx="249.179609" stroke-linecap="round" stroke-width="17.5" fill="url(#svg_14)"/>
						 </g>
						</svg>
						<button class="boton" id='buttonOff' type='button' onclick="onMessageSend('off');"><h2>Apagar</h2></button>
						<button class="boton" id='buttonOn' type='button' onClick="onMessageSend('on');"><h2>Encender</h2></button>
					</div>
				</div>
			</div>

			<div class="contenedorContenido">
				<div class="contenido">
					<div id="g2" class="column"></div>
					<div id="g3" class="column"></div>
				</div>
			</div>
		</div>
	</section>
	<script src="/static/js/IoT-Connect-PAHO.js"></script>
    <script src="/static/js/raphael-2.1.4.min.js"></script>
    <script src="/static/js/justgage.js"></script>
    <script>
    </script>
{% endblock %}
